body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient(#05080f,#05080f,#05080f,#05080f, #276477,#05080f,#05080f,#05080f, #05080f);
    font-family: Arial, sans-serif;
}

.centered-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(84, 111, 134, 0.637);
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 600px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #47b7d8;
    font-weight: bold;
}

.form-floating > .form-control:focus {
    border-color: #47b7d8;
    box-shadow: 0 0 0 0.2rem rgba(30, 60, 114, 0.25);
}

.form-floating > label {
    color: #47b7d8;
}




/* Password toggle icon inside input */
.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    font-size: 1rem;
}



.password-rules {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  font-size: 0.9rem;
}

.password-rules li {
  color: #87898b;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.password-rules i {
  color: #adb5bd;
  transition: transform 0.3s ease, color 0.3s ease;
}

.password-rules li.valid {
  color: #47b7d8;
}

.password-rules li.valid i {
  color: #47b7d8;
  transform: scale(1.2);
}

.password-strength .progress {
  height: 6px;
  margin-top: 6px;
}

/*--------*/


.si {
  /* == BUTTON SETTINGS == */
  --font-family: Jura, monospace;
  --font-size: 16px;
  --color: white;
  --background-color: #0d0a11;
  --border-color: #47b7d8;
  --border-width: 1px;
  --border-cut: 5px;
  --button-shape: polygon(0 var(--border-cut), var(--border-cut) 0, calc(50% - var(--border-cut) - 30px) 0,
   calc(50% - var(--border-cut) - 30px + var(--border-cut)) var(--border-cut), calc(calc(50% - var(--border-cut) - 30px) + var(--border-cut) + 60px) var(--border-cut),
    calc(calc(50% - var(--border-cut) - 30px) + var(--border-cut) + 60px + var(--border-cut)) 0, calc(100% - var(--border-cut)) 0, 100% var(--border-cut),
     100% calc(100% - var(--border-cut)), calc(100% - var(--border-cut)) 100%, var(--border-cut) 100%, 0 calc(100% - var(--border-cut)));
}

.si {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color) !important;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  appearance: none;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  word-spacing: 3px;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: 0.3s;
  line-height: initial;
  min-height: 30px;
  min-width: 70px;
  white-space: nowrap;
  z-index: 1;
  user-select: none;
  outline: 0;
  padding: 15px 30px;
  background-color: transparent;

  width: 100%;
}

.si:before,
.si:after{
  content: '';
  inset: 0;
  background: var(--border-color);
  position: absolute;
  z-index: -1;
  clip-path: var(--button-shape);
  box-shadow: inset 0 0 25px -10px var(--border-color);
}

.si:after{
  inset: var(--border-width);
  background: var(--background-color);
}

.si helper-1:before{
  content: '';
  position: absolute;
  height: calc(var(--border-cut) - 2px);
  width: 63px;
  background: var(--border-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 100% 0, calc(100% - 2px) 100%, 2px 100%);
}

.si helper-2:before,
.si helper-2:after{
  content: '';
  position: absolute;
  height:80%;
  width: 3px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  clip-path: polygon(0 0, 100% 3px, 100% calc(100% - 3px), 0 100%);
  background: var(--border-color);
  opacity: 0.3;
}

.si helper-2:after{
  left: unset;
  clip-path: polygon(0 3px, 100% 0, 100% 100%, 0 calc(100% - 3px));
  right: 5px;
}

[class*='si'].disabled,
[class*='si']:disabled{
  pointer-events:none;
  opacity:0.5;
  cursor:default;
}


/* Ripple Animation */
[class*='si'] ripple {
  inset: 0;
  position: absolute;
  overflow: hidden;
  -webkit-clip-path: var(--button-shape);
          clip-path: var(--button-shape);
}

[class*='si'].disabled ripple,
[class*='si']:disabled ripple{
  display:none
}

[class*='si'] ripple:after {
  content: '';
  --ripple-gradient: rgb(255, 255, 255);
  position: absolute;
  inset: 0 auto 0 -200%;
  width: 200%;
  transform: skewX(-20deg);
  opacity: 0.5;
  background-image: linear-gradient(to right, transparent, var(--ripple-gradient), transparent);
}

[mode*='light'] ripple:after {
  --ripple-gradient: var(--border-color);
}

[class*='si']:hover ripple:after {
  left: 200%;
  transition: 1.6s ease;
}

[class*='si'] ripple:before {
  content: '';
  --ripple-color: rgb(255, 255, 255);
  position: absolute;
  inset: 50%;
  transform: skewX(-10deg);
  border-radius: 100vh;
}

[mode*='light'] ripple:before {
  --ripple-color: var(--border-color);
}

[class*='si']:focus ripple:before {
  animation: ripple-animation 0.7s ease-in-out forwards;
}

[class*='si']:active ripple:before {
  animation: unset;
}


/*-------*/


.si-buttons-scifi__style-5__button-2 {
  /* == BUTTON SETTINGS == */
  --font-family: Jura, monospace;
  --font-size: 16px;
  --color: white;
  --background-color: #0d0a11;
  --border-color: #47b7d8;
  --border-width: 1px;
  --border-cut: 5px;
  --button-shape: polygon(0 var(--border-cut), var(--border-cut) 0, calc(50% - var(--border-cut) - 30px) 0,
   calc(50% - var(--border-cut) - 30px + var(--border-cut)) var(--border-cut), calc(calc(50% - var(--border-cut) - 30px) + var(--border-cut) + 60px) var(--border-cut),
    calc(calc(50% - var(--border-cut) - 30px) + var(--border-cut) + 60px + var(--border-cut)) 0, calc(100% - var(--border-cut)) 0, 100% var(--border-cut),
     100% calc(100% - var(--border-cut)), calc(100% - var(--border-cut)) 100%, var(--border-cut) 100%, 0 calc(100% - var(--border-cut)));
}

.si-buttons-scifi__style-5__button-2 {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color) !important;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  appearance: none;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  word-spacing: 3px;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: 0.3s;
  line-height: initial;
  min-height: 30px;
  min-width: 70px;
  white-space: nowrap;
  z-index: 1;
  user-select: none;
  outline: 0;
  padding: 15px 30px;
  background-color: transparent;
}

.si-buttons-scifi__style-5__button-2:before,
.si-buttons-scifi__style-5__button-2:after{
  content: '';
  inset: 0;
  background: var(--border-color);
  position: absolute;
  z-index: -1;
  clip-path: var(--button-shape);
  box-shadow: inset 0 0 25px -10px var(--border-color);
}

.si-buttons-scifi__style-5__button-2:after{
  inset: var(--border-width);
  background: var(--background-color);
}

.si-buttons-scifi__style-5__button-2 helper-1:before{
  content: '';
  position: absolute;
  height: calc(var(--border-cut) - 2px);
  width: 63px;
  background: var(--border-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 100% 0, calc(100% - 2px) 100%, 2px 100%);
}

.si-buttons-scifi__style-5__button-2 helper-2:before,
.si-buttons-scifi__style-5__button-2 helper-2:after{
  content: '';
  position: absolute;
  height:80%;
  width: 3px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  clip-path: polygon(0 0, 100% 3px, 100% calc(100% - 3px), 0 100%);
  background: var(--border-color);
  opacity: 0.3;
}

.si-buttons-scifi__style-5__button-2 helper-2:after{
  left: unset;
  clip-path: polygon(0 3px, 100% 0, 100% 100%, 0 calc(100% - 3px));
  right: 5px;
}

[class*='si-buttons-scifi'].disabled,
[class*='si-buttons-scifi']:disabled{
  pointer-events:none;
  opacity:0.5;
  cursor:default;
}


/* Ripple Animation */
[class*='si-buttons-scifi'] ripple {
  inset: 0;
  position: absolute;
  overflow: hidden;
  -webkit-clip-path: var(--button-shape);
          clip-path: var(--button-shape);
}

[class*='si-buttons-scifi'].disabled ripple,
[class*='si-buttons-scifi']:disabled ripple{
  display:none
}

[class*='si-buttons-scifi'] ripple:after {
  content: '';
  --ripple-gradient: rgb(255, 255, 255);
  position: absolute;
  inset: 0 auto 0 -200%;
  width: 200%;
  transform: skewX(-20deg);
  opacity: 0.5;
  background-image: linear-gradient(to right, transparent, var(--ripple-gradient), transparent);
}

[mode*='light'] ripple:after {
  --ripple-gradient: var(--border-color);
}

[class*='si-buttons-scifi']:hover ripple:after {
  left: 200%;
  transition: 1.6s ease;
}

[class*='si-buttons-scifi'] ripple:before {
  content: '';
  --ripple-color: rgb(255, 255, 255);
  position: absolute;
  inset: 50%;
  transform: skewX(-10deg);
  border-radius: 100vh;
}

[mode*='light'] ripple:before {
  --ripple-color: var(--border-color);
}

[class*='si-buttons-scifi']:focus ripple:before {
  animation: ripple-animation 0.7s ease-in-out forwards;
}

[class*='si-buttons-scifi']:active ripple:before {
  animation: unset;
}

@keyframes ripple-animation {
  0% {box-shadow: 0 0 0 0 var(--ripple-color); opacity:0.6}
  100% {box-shadow: 0 0 0 150px var(--ripple-color); opacity:0}
}